div
	.fab-container
		bottom 4vh
		right 4vw
		button
			&.action
				height 66px
				width 66px
			&.fab-rotate
				&:active,
				&:focus,
				&:hover
					border-radius 50%
		&:hover
			a
				&.fab-item
					&:not(:last-child)
						height 50px
						width 50px
