div
	.fab-container
		z-index 1000
		bottom 4vh
		right 4vw
		button
			&.fab-rotate
				&:active,
				&:focus,
				&:hover
					border-radius 50%
			&.action-fab,
			&.link-back
				background-color tertiary !important
				height 66px
				width 66px
			&.link-home,
			&.link-add,
			&.link-quotes
				background-color success !important
		&:hover
			button
				&.fab-item
					&:not(:last-child)
						height 55px
						width 55px
