button
	&.button
		&.button-back
			background-color transparent
			border-color transparent
			color shade
			font-size 2.25rem
			padding 0
			margin 0
			box-sizing border-box
			border 0
			display flex
			flex-direction column
			justify-content center
			align-items center
			margin-right 1rem