body
	background-color #fafafa
	background-size cover
	//background-image url("../assets/architecture-room-indoors-auditorium-109669.jpg")
	//background-size 65%
	background-position bottom right
	background-repeat no-repeat
	position relative
	//&:before
	//	content ''
	//	background-color rgba(255, 255, 255 .9)
	//	position absolute
	//	width 100vw
	//	height 100%
	//	z-index -1
		
+above(l)
	body
		&:before
			height 100vh