.section-quotes
	display grid
	grid-template-columns repeat(2, 1fr)
	gap 24px
	a
		text-decoration none
	article
		&.card-quote
			background-color white
			//border-radius 4px
			box-shadow 0 0 10px rgba(0,0,0,0.15), 0 100px 80px rgba(0,0,0,0.075), 0 40px 100px -50px rgba(170,170,170,0.5)
			margin 5px
			position relative
			display flex
			flex-direction column
			justify-content space-between
			//overflow hidden
			.card-container
				z-index 1
				.card-header
					h2
						margin-top 0
						color black
				.card-body
					//background-color white
					color black
					padding 2.5rem 2rem 2rem
					&.body-form
						padding 1.25rem
					p
						margin 0
					.card-text
						margin-top 1rem
						span
							display inline-block
							font-weight bolder
							width 18%
					textarea
						resize vertical
				.card-footer
					border-top 2px solid #f0f0f0
					padding 10px
					h3
						margin 0
						padding 22px
			.card-options
				position absolute
				width 160px
				top -28px
				right -10px
				ul
					list-style none
					margin 0
					padding 0
					display grid
					grid-template-columns repeat(auto-fit, minmax(40px, 1fr))
					grid-gap 4px
					li
						button
							&.card-option
								border-radius 50%
								//box-shadow 0 0 10px rgba(0,0,0,.15), 0 100px 80px rgba(0,0,0,.075), 0 0px 50px 0 hsla(0,0%,66.8%,.5)
								width 50px
								height 50px
								font-size 1rem
								position relative
								&.option-edit
									background-color lighten(tertiary, 50%)
									border-color lighten(tertiary, 50%)
									&:hover
										background-color tertiary
										border-color tertiary
								&.option-featured
									background-color lighten(tertiary, 50%)
									border-color lighten(tertiary, 50%)
									&:hover
										background-color tertiary
										border-color tertiary
								&.option-delete
									background-color  error
									border-color  error
									&:hover
										background-color  darken(error, 25%)
										border-color  darken(error, 25%)
			i
				&.left,
				&.right
					position absolute
					color lighten(shade, 55%)
					z-index 0
				&.left
					font-size 1.5rem
					left 0.5rem
					top 0.5rem
				&.right
					font-size 3rem
					right 0.5rem
					bottom 0.25rem
					