.cards-movies
	display grid
	grid-template-columns repeat(2, 1fr)
	gap 10px
	a
		text-decoration none
		&.card-movie
			background-color white
			border-radius 4px
			box-shadow 0 12.1px 10px rgba(0, 0, 0, 0.065), 0 97px 80px rgba(0, 0, 0, 0.07)
			padding 1rem
			.card-header
				h2
					margin-top 0
					color black
			.card-body
				color black
				.card-text
					margin-top 1rem
					span
						display inline-block
						font-weight bolder
						width 18%