.form-container
	border-radius 4px
	box-shadow 0 12.1px 10px rgba(0, 0, 0, 0.035), 0 97px 80px rgba(0, 0, 0, 0.07)
	overflow hidden
	form
		background-color white
		padding 2rem
		margin-bottom 2rem
		h2
			margin 0 0 0.83rem
		.form-body
			margin-bottom 0.5rem
			label
				color black
			input, button
				border-color primary
			textarea
				border-color primary
		button
			border-color primary
			background-color primary
			
+above(l)
	.form-login
		width 500px
		margin 0 auto
		form
			margin-bottom 0