.form-container,
.card-body
	//border-radius 4px
	//box-shadow 0 12.1px 10px rgba(0, 0, 0, 0.035), 0 97px 80px rgba(0, 0, 0, 0.07)
	//overflow hidden
	.form-header
		text-align center
		h1
			margin 0 0 1rem
			text-transform capitalize
			font-weight normal
	form
		background-color white
		border-radius radius
		box-shadow 0 12.1px 10px rgba(0, 0, 0, 0.035), 0 97px 80px rgba(0, 0, 0, 0.07)
		overflow hidden
		padding 2rem
		//margin-bottom 2rem
		&.card-form,
		&.modal-form
			border-radius 0
			box-shadow none
			overflow hidden
			padding 0
		label
			color black
			display block
			margin-bottom 0.8rem
		input, button
			//border-color default
		textarea
			//border-color primary
		button,
		.button
			border-color default
			background-color default
			width 100%
		&:nth-child
			margin-bottom 1rem
+above(l)
	.form-login
		width 500px
		margin 0 auto
		form
			margin-bottom 0