.section-login
	box-sizing border-box
	//padding 0 1rem
	.login-body
		margin-bottom 2rem
		ul
			margin 0
			padding 0
			list-style none
			li
				//border-top 4px solid #c9c9c9
				font-size 3.75rem
				padding 0 0 1.25rem
				margin 0
				&:last-child
					padding 0
	.button-group
		width 100%
		display grid
		grid-template-columns repeat(2, 1fr)
		a
			text-align center