body
	&.ReactModal__Body--open
		.ReactModalPortal
			z-index 999
			.ReactModal__Overlay
				background-color rgba(0,0,0,0.25) !important
				display flex
				flex-direction column
				justify-content center
				align-items center
				.ReactModal__Content
					border 0 !important
					top auto !important
					bottom auto !important
					padding 1.5rem 1.75rem 1.75rem !important
					.form-container
						form
							padding 0