#root
	display flex
	flex-flow column wrap
	justify-content flex-start
	align-items center
	//width 100vw
	//height 100%
	.App
		padding 2rem
		width 100%
		
+above(l)
	#root
		//width 100vw
		//height 100vh
		.App
			padding 0
			//width 1080px